<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>编辑用户-#{{user.id}}</h1>
  <form action="/edit?id={{user.id}}" method="post" enctype="application/x-www-form-urlencoded">
    <p>
      用户名：<input type="text" name="username" value="{{user.username}}">
    </p>
    <p>
      年龄：<input type="text" name="age" value="{{user.age}}">
    </p>
    <p>
      性别：
      <select name="gender">
        <option value="男" {% if user.gender==="男"%}selected{%endif%}>男</option>
        <option value="女" {% if user.gender==="女"%}selected{%endif%}>女</option>
      </select>
    </p>
    <p>
      <button>提交</button>
    </p>
  </form>
</body>
</html>